# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Env global
.env
.env.*

# Logs
*.log

# Node / JS global
node_modules/

# Build / cache umum
dist/
build/
coverage/

# Temporary
tmp/
temp/

#cache
frontend/.vite/
